body{
    background-color: black;
    color: white;
}
h1.exa{
    position: relative;
    text-align: center;
    background-color: blueviolet;
}
h1.tit{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
letter-spacing: 5px;
text-align: center;
}
p.enlace{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
border: white ;
}
section.gif{
text-align: center;
}
img.gif{
    width: 300px;
}
section.centrado{
    text-align: center;
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
s